<div class="form-find col-lg-12">
  <h3 class="h3-find"><span class="glyphicon glyphicon-search"></span>Find someone :</h3>
  <form [formGroup]="searchForm" novalidate>
      <label>Name : <input type="text" formControlName="name" class="input-filter" (input)="filter()"></label>
      <label>First name : <input type="text" formControlName="firstName" class="input-filter" (input)="filter()"></label>
      <label>See negative accounts : <input type="checkbox" formControlName="accountCheck" (change)="filter()"></label>
  </form>
</div>

<table class="col-lg-12 table-hover">
  <tbody>

    <tr>
      <th><i class="far fa-user icone"></i>Name
        <a (click)="triName()">
          <span
            class="fas" [ngClass]="{'fa-sort-up': sortName==1, 'fa-sort-down': sortName==2, 'fa-sort': sortName==0}">
          </span>
        </a>
      </th>
      <th><i class="far fa-user icone"></i>First Name
        <a (click)="triFirstName()">
          <i
            class="fas" [ngClass]="{'fa-sort-up': sortFirstName==1, 'fa-sort-down': sortFirstName==2, 'fa-sort': sortFirstName==0}">
          </i>
        </a>
      </th>
      <th><i class="far fa-envelope icone"></i>Mail address </th>
      <th><i class="fas fa-phone icone"></i>Tel</th>
      <th><i class="fas fa-euro-sign icone"></i>Bank account</th>
      <th class="view"></th>
      <th class="remove"></th>
    </tr>

    <tr *ngFor="let oneCustomer of filterCustomer">
      <td>{{oneCustomer.name}}</td>
      <td>{{oneCustomer.firstName}}</td>
      <td>{{oneCustomer.mail}}</td>
      <td>{{oneCustomer.tel}}</td>
      <td  [ngClass]="{'negative-account': oneCustomer.bankAccount<0, 'positive-account': oneCustomer.bankAccount>=0}"> {{oneCustomer.bankAccount}} </td>
      <td><a (click)="onView(oneCustomer)"><label class="fas fa-eye fa-2x"></label></a></td>
      <td><a (click)="onRemove(oneCustomer)"><label class="far fa-trash-alt fa-2x"></label></a></td>
    </tr>
  </tbody>
</table>


