<table class="table-hover">
  <tbody>
    <tr>
      <th>Name</th>
      <th>First Name</th>
      <th>Mail adress</th>
      <th>Tel</th>
      <th>Bank account</th>
      <th class="view"></th>
      <th class="remove"></th>
    </tr>
      <tr>
        <td>
          <label style="float:left; width: 20%" class="glyphicon glyphicon-search"></label>
          <input type="text" name="name" class="input-filter" (input)="filterName($event.target.value)">
        </td>
        <td>
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" name="firstName" class="input-filter" (input)="filterFirstName($event.target.value)">
          <p></p>
        </td>
        <td></td>
        <td></td>
        <td><input type="checkbox" (change)="filterByAccount(check)"></td>
      </tr>
    <tr *ngFor="let oneCustomer of filterCustomer">
      <td>{{oneCustomer.name}}</td>
      <td>{{oneCustomer.firstName}}</td>
      <td>{{oneCustomer.mail}}</td>
      <td>{{oneCustomer.tel}}</td>
      <td  [ngClass]="{'negative-account': oneCustomer.bankAccount<0, 'positive-account': oneCustomer.bankAccount>=0}"> {{oneCustomer.bankAccount}} </td>
      <td><button (click)="onView(oneCustomer)">View</button></td>
      <td><button (click)="onRemove(oneCustomer)" >Remove</button></td>
    </tr>
  </tbody>
</table>


