<div class="form-find col-lg-12">
  <h3 class="h3-find"><span class="glyphicon glyphicon-search"></span>Find someone :</h3>
  <form [formGroup]="searchForm" novalidate>
      <label>Name : <input type="text" formControlName="name" class="input-filter" (input)="filter()"></label>
      <label>First name : <input type="text" formControlName="firstName" class="input-filter" (input)="filter()"></label>
      <label>See negative accounts : <input type="checkbox" formControlName="accountCheck" (change)="filter()"></label>
  </form>
</div>

<table class="col-lg-12 table-hover">
  <tbody>

    <tr>
      <th>Name</th>
      <th>First Name</th>
      <th>Mail adress</th>
      <th>Tel</th>
      <th>Bank account</th>
      <th class="view"></th>
      <th class="remove"></th>
    </tr>

    <tr *ngFor="let oneCustomer of filterCustomer">
      <td>{{oneCustomer.name}}</td>
      <td>{{oneCustomer.firstName}}</td>
      <td>{{oneCustomer.mail}}</td>
      <td>{{oneCustomer.tel}}</td>
      <td  [ngClass]="{'negative-account': oneCustomer.bankAccount<0, 'positive-account': oneCustomer.bankAccount>=0}"> {{oneCustomer.bankAccount}} </td>
      <td><button (click)="onView(oneCustomer)">View</button></td>
      <td><button (click)="onRemove(oneCustomer)" >Remove</button></td>
    </tr>
  </tbody>
</table>


