.input-filter{
  width: 100px;
  padding: 3px 1px 3px 1px;
}

table{
  border: medium solid #000000;
  border-collapse: collapse;
  width: 700px;
}

tr{
  border-bottom: thin solid #000000;
}

td, th{
  text-align: center;
  padding: 10px;
  display:table-cell;
}

th{
  font-weight: bold;
}


td.negative-account{
  color: red;
  font-weight: bold;
}
td.positive-account{
  color : green;
  font-weight: bold;
}
